<% include partials/header.ejs %>
<div class="jumbotron d-flex">
    <div class="tab col-sm-8">
        <h1 class="title">Coalition for a Green New Deal Ottawa</h1>
        <p>Striving to make Ottawa a cleaner and more ethically responsible capital</p>
    </div>
    <div class="col-sm"></div>
</div>
<div class="landing-background">
    <div class="row pt-2">
        <div class="col-sm p-0">
            <h2>Who are we?</h2>
            <p class="body-text">We are a group of local citizens concerned about the current and impending impacts of
                the climate
                crisis on our communities, our planet, and our collective futures. We first came together following the
                <a href="https://act.greennewdealcanada.ca/what-we-heard/">Green New Deal Town Halls</a> that were
                hosted in Spring/Summer 2019.
                <br>
                <br>
                We believe that the scale of the crisis requires us to take action collectively and so we are coming
                together to envision, articulate, advocate for and build a better future for ourselves and future
                generations in Ottawa. Please join us!</p>
            <h2>Why now? What is a Green New Deal</h2>
            <p class="body-text">In 2018, the United Nations’ Intergovernmental Panel on Climate Change told us that we
                have just 12
                years to radically reduce global greenhouse gas emissions if we are to avoid the most catastrophic
                consequences of climate collapse. From floods increasing in number and severity, to heatwaves and air
                pollution, our communities are already feeling the impacts of the climate crisis. At the same time, our
                communities are facing deepening economic inequality, precarious work, a growing affordable housing
                crisis, and rising racism, xenophobia and hatred.
                We believe that a Green New Deal has the potential to tackle these interconnected crises through
                systemic change centered around reducing greenhouse gas emissions, preserving biodiversity,
                respecting the rights of Indigenous peoples, and promoting social justice.
                <br>
                <br>
                As we transition away from fossil fuels to a renewable energy economy, it is critical to ensure that no
                one – especially the frontline, Indigenous and marginalized communities bearing the burden of the
                impacts of extractive industries (tar sands, fracked gas, coal, forestry) and the climate crisis – is
                left
                behind. With a Green New Deal, we can build a liveable, just future for everyone.</p>
        </div>
        <div class="col-sm-5 justify-content-center d-flex p-0">
            <a class="twitter-timeline" data-width="700" data-height="1000"
                href="https://twitter.com/uOttawa?ref_src=twsrc%5Etfw">Tweets by uOttawa</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <h2>What is our plan?</h2>

    <ul class="body-text mb-0 row">
        <li class="col-sm">
            <div class=" d-flex justify-content-center">
                <i class="fas fa-handshake landingIcon"></i>
            </div>
            We are organizing a coalition of organizations, groups and individuals in the Ottawa region who support
            and are building momentum for a Green New Deal, and who are advocating for changes that address
            the systemic and intersectional issues that underpin the current crisis.
        </li>
        <li class="col-sm">
            <div class=" d-flex justify-content-center">
                <i class="fas fa-scroll landingIcon"></i>
            </div>
            With the input of the Green New Deal coalition members and others, we plan to envision and articulate
            what a Green New Deal would look like for Ottawa and how to get there together. Our initial focus will
            be to develop a municipal resolution and push for its adoption by the Ottawa City Council. We will also
            be developing input for the provincial and federal levels of government.
        </li>
        <li class="col-sm">
            <div class=" d-flex justify-content-center">
                <i class="fas fa-users landingIcon"></i>
            </div>
            Recognizing that there are already many organizations, groups and people doing invaluable work in the
            Ottawa region that aligns with the Green New Deal vision, our goal is to amplify the strengths of these
            organizations, support alliances, serve as an information hub, and build widespread support for a Green
            New Deal in the Ottawa region.
        </li>
    </ul>
    <!-- <div class="container">
        <div class="">
            <h2>Why now? What is a Green New Deal</h2>
            <p class="body-text">In 2018, the United Nations’ Intergovernmental Panel on Climate Change told us that we
                have just 12
                years to radically reduce global greenhouse gas emissions if we are to avoid the most catastrophic
                consequences of climate collapse. From floods increasing in number and severity, to heatwaves and air
                pollution, our communities are already feeling the impacts of the climate crisis. At the same time, our
                communities are facing deepening economic inequality, precarious work, a growing affordable housing
                crisis, and rising racism, xenophobia and hatred.
                We believe that a Green New Deal has the potential to tackle these interconnected crises through
                systemic change centered around reducing greenhouse gas emissions, preserving biodiversity,
                respecting the rights of Indigenous peoples, and promoting social justice.
                <br>
                <br>
                As we transition away from fossil fuels to a renewable energy economy, it is critical to ensure that no
                one – especially the frontline, Indigenous and marginalized communities bearing the burden of the
                impacts of extractive industries (tar sands, fracked gas, coal, forestry) and the climate crisis – is
                left
                behind. With a Green New Deal, we can build a liveable, just future for everyone.</p>
        </div> -->
    <!-- <img class="col-sm-6 parlImage" src="../public/images/parliament.jpg" alt=""> -->
</div>
</div>
<div class="landing-background2">


    <h2>Upcoming Events</h2>
    <p>If you are a member of the coalition and you would like to have an event added, email us at: ottawagnd@gmail.com
    </p>

    <%for(let i = 0; i < eventList.length; i++){%>
    <div class="row d-flex justify-content-center event">

        <p><%=eventList[i]%></p>
    </div>

    <%}%>

</div>
<% include partials/footer.ejs %>