<% include partials/header.ejs %>
    <div class="jumbotron">
        <h1 class="title">Green New Deal Ottawa</h1>
    </div>
<div class="container landing-background">
    <h2>Who are we?</h2>
    <p class="body-text">We are a group of citizens of the Ottawa region who are concerned by the threat of climate change to our communities, our planet and our future. We believe in the vision of a Green New Deal and its potential to tackle the climate crisis and increasing inequality at the same time by reducing emissions, preserving biodiversity, and promoting social justice. As we transition to a renewable energy economy, we want to ensure that no one - especially those on the frontlines of the climate crisis - is left behind.</p>
    <h2>What is our plan?</h2>
    <ul class="body-text">
        <li>
                We are creating a coalition of organizations and people who support the vision for a Green New Deal and are advocating for change in the Ottawa region that aligns with this vision.
        </li>
        <li>
            With the input of the GND Coalition members and others, we plan to develop a municipal resolution and push for its adoption by the Ottawa City Council.
        </li>
        <li>
                Recognizing that there are already many organizations and people doing great work in the Ottawa region that aligns with the vision for a GND, our goal is to amplify the strengths of these organizations, support alliances, serve as an information hub, and build widespread support for a GND in the Ottawa region.
        </li>
    </ul>

    <h2>Upcoming Events</h2>

    <iframe class="ml-5" src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;ctz=America%2FToronto&amp;src=YWxvaXMuY2xlcmNAZ21haWwuY29t&amp;src=YWRkcmVzc2Jvb2sjY29udGFjdHNAZ3JvdXAudi5jYWxlbmRhci5nb29nbGUuY29t&amp;src=ZW4uY2FuYWRpYW4jaG9saWRheUBncm91cC52LmNhbGVuZGFyLmdvb2dsZS5jb20&amp;src=b2xpdmllci5jbGVyYzIzQGdtYWlsLmNvbQ&amp;color=%23039BE5&amp;color=%237986CB&amp;color=%237986CB&amp;color=%23E4C441" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>
<% include partials/footer.ejs %>