<% include partials/header.ejs %>
<div class="jumbotron d-flex">
    <div class="tab col-sm-8">
        <h1 class="title">Coalition for a Green New Deal Ottawa</h1>
        <p>Striving to make Ottawa a cleaner and more ethically responsible capital</p>
    </div>
    <div class="col-sm"></div>
</div>
<div class="landing-background container">
    <div class="row pt-2">
        <div class="col-sm-9 p-0">
            <h2>Who are we?</h2>
            <hr class="divider my-4">
            <p class="body-text">Last spring, communities across Canada organized hundreds of <a
                    href="https://act.greennewdealcanada.ca/what-we-heard/">hundreds of town hall meetings</a> to
                discuss the
                concept of a Green New Deal, attracting thousands of individuals who explored what a Green New Deal
                could look like in this country. These were powerful and inspiring events that generated ideas aimed at
                shaping a just, livable future.
                Coming out of the town halls in Ottawa, a number of us felt inspired to work towards these
                transformative, essential changes at the local level. Like you, we are concerned about the impact of the
                climate crisis on our communities, our planet, and our collective futures. We believe that the scale of
                the crisis requires us to take action collectively, so we are coming together to envision, build, and
                advocate for a better future for future generations in Ottawa.
            </p>
            <button class="collapsible d-flex">
                Click here to read more about the concept of a Green New Deal
                <span class="plus">
                    <i class="fas fa-plus"></i>
                </span>
                <span class="minus">
                    <i class="fas fa-minus"></i>
                </span>
            </button>
            <div class="content">
                <h3 class="viewMoreTitle">Why now? What is a Green New Deal</h3>
                <p>In 2018, the United Nations’ Intergovernmental Panel on Climate Change told us that we have just 12
                    years to radically reduce global greenhouse gas emissions if we are to avoid the most catastrophic
                    consequences of climate collapse. From floods increasing in number and severity, to heatwaves and
                    air
                    pollution, our communities are already feeling the impacts of the climate crisis. At the same time,
                    our

                    communities are facing deepening economic inequality, precarious work, a growing affordable housing
                    crisis, and rising racism, xenophobia and hatred.
                    We believe that a Green New Deal has the potential to tackle these interconnected crises through
                    systemic change centered around reducing greenhouse gas emissions, preserving biodiversity,
                    respecting the rights of Indigenous peoples, and promoting social justice.
                    As we transition away from fossil fuels to a renewable energy economy, it is critical to ensure that
                    no
                    one – especially the frontline, Indigenous and marginalized communities bearing the burden of the
                    impacts of extractive industries (tar sands, fracked gas, coal, forestry) and the climate crisis –
                    is left
                    behind. With a Green New Deal, we can build a livable, just future for everyone.</p>
            </div>
        </div>
        <div class="col-sm-3 justify-content-center d-flex p-0">
            <a class="twitter-timeline" data-width="300" data-height="500"
                href="https://twitter.com/GNDOttawa?ref_src=twsrc%5Etfw">Tweets by GNDOttawa</a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </div>
    <h2>Principles for a Green New Deal</h2>
    <hr class="divider my-4">
    <p class="body-text">The Ottawa GND Coalition will collaborate with local organizations and individuals to develop
        proposals
        for a Green New Deal. The following three principles will guide that effort.
    </p>
    <p class="body-text py-3">
        A Green New Deal for Ottawa will:
    </p>
    <ul class="actualList body-text">
        <li>stimulate local initiatives to reduce GHG emissions in line with what the scientific community tells us is
            necessary;</li>
        <li>include measures to address inequalities and social justice, including actions to support self-determination
            of Indigenous Peoples;</li>
        <li>ensure that the transition to a just, livable future leaves no one behind, particularly those whose
            livelihoods are disrupted during this transition.</li>
    </ul>
    <h2>Join Us!</h2>
    <hr class="divider my-4">
    <p class="body-text">We know that creating a Green New Deal for Ottawa - a just and inclusive plan to address the
        climate crisis at the local level - will require a collaborative, collective effort. That’s why we are inviting
        organizations and individuals from our community to join the Ottawa Green New Deal Coalition.
    </p>
    <p class="body-text py-3">
        Our focus is on developing resolutions that we will present to Ottawa City Council for action.

        Joining together in a coalition will:
    </p>
    <ul class="actualList body-text">
        <li>Amplify our voices and connect our messages</li>
        <li> GeneratePropose solutions that address the root causes of the issues we care about</li>
        <li>Increase awareness of the need for climate and social justice at the local level</li>
        <li>Foster mutual understating, networking, and information sharing </li>
        <li>Avoid unnecessary duplication of effort, enabling us to do more with limited resources</li>
        <li>Maximize our impact!</li>
    </ul>
    <button class="collapsible d-flex">
        Click here to read more about the concept of a Green New Deal
        <span class="plus">
            <i class="fas fa-plus"></i>
        </span>
        <span class="minus">
            <i class="fas fa-minus"></i>
        </span>
    </button>
    <div class="content">
        <h2 class="viewMoreTitle">What is our plan?</h2>
        <hr class="divider my-4">
        <ul class="body-text mb-0 row">
            <li class="col-sm">
                <div class=" d-flex justify-content-center">
                    <i class="fas fa-handshake landingIcon"></i>
                </div>
                We are organizing a coalition of organizations, groups and individuals in the Ottawa region who support
                and are building momentum for a Green New Deal, and who are advocating for changes that address
                the systemic and intersectional issues that underpin the current crisis.
            </li>
            <li class="col-sm">
                <div class=" d-flex justify-content-center">
                    <i class="fas fa-scroll landingIcon"></i>
                </div>
                With the input of the Green New Deal coalition members and others, we plan to envision and articulate
                what a Green New Deal would look like for Ottawa and how to get there together. Our initial focus will
                be to develop a municipal resolution and push for its adoption by the Ottawa City Council. We will also
                be developing input for the provincial and federal levels of government.
            </li>
            <li class="col-sm">
                <div class=" d-flex justify-content-center">
                    <i class="fas fa-users landingIcon"></i>
                </div>
                Recognizing that there are already many organizations, groups and people doing invaluable work in the
                Ottawa region that aligns with the Green New Deal vision, our goal is to amplify the strengths of these
                organizations, support alliances, serve as an information hub, and build widespread support for a Green
                New Deal in the Ottawa region.
            </li>
        </ul>
    </div>





    <h2>Upcoming Events</h2>
    <p>If you are a member of the coalition and you would like to have an event added, email us at: ottawagnd@gmail.com
    </p>

    <%for(let i = 0; i < eventList.length; i++){%>
    <div class="row d-flex justify-content-center event">

        <p><%=eventList[i]%></p>
    </div>

    <%}%>

</div>
<% include partials/footer.ejs %>