<% include partials/header.ejs %>
<div class="container landing-background">
    <h1 class="propTitle">Members of the Coalition</h1>

    <table id="memberTable">
        <thead>
            <tr class="head">
                <th id="c1" onclick="sortTable(0)">Organization
                    <span class="upSort">
                        <i class="fas fa-sort-up"></i>
                    </span>
                    <span class="downSort">
                        <i class="fas fa-sort-down"></i>
                    </span>
                </th>
                <th id="c2" class="obj" onclick="sortTable(1)">Objective</th>
                <th id="c3" onclick="sortTable(2)">Web Site</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CoEnergy Co-operative/Ottawa Renewable Energy Co-op</td>
                <td class="obj">To preserve the enviroment by ...</td>
                <td><a href="www.coenergy.coop">www.coenergy.coop</a><br><a href="www.orec.ca">www.orec.ca</a></td>
            </tr>
            <tr>
                <td>Our Time Ottawa</td>
                <td class="obj">To preserve the enviroment by ...</td>
                <td> <a href="https://our-time.ca/">https://our-time.ca/</a></td>
            </tr>
            <tr>
                <td>Climate Justice Ottawa</td>
                <td class="obj">To preserve the enviroment by ...</td>
                <td> <a href="https://www.facebook.com/climatejusticeottawa/">https://www.facebook.com/climatejusticeottawa/</a></td>
            </tr>
            <tr>
                <td>Earth Strike</td>
                <td class="obj">To preserve the enviroment by ...</td>
                <td> <a href="https://www.facebook.com/earthstrikecanada/">https://www.facebook.com/earthstrikecanada/</a></td>
            </tr>
        </tbody>
    </table>
</div>
<% include partials/footer.ejs %>