<% include partials/header.ejs %>
<div class="new-background justify-content-center d-flex">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeklCr8cZidX08Y53B_-duirgIA3VEru305j7zw60tMB56ZGQ/viewform?embedded=true" width="640" height="944" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <!-- <div class="container">
        <div class="new-form-background">
            <div class="row justify-content-center mb-3">
                <h2 id="regTitle">Register Here</h2>
            </div>

            <div class="row d-flex justify-content-center">

                <form action="/" method="POST" style="width:40%" id="registerForm">
                    <div class="form-group">
                        <input class="form-control" type="text" name="firstName" id="" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="lastName" id="" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="email" id="" placeholder="Email" required>
                    </div>
                    <div class="form-group newCheck">
                        <p>You are contacting us to...</p>
                        <input type="checkbox" name="reason1" id="" value="Receive updates"> Register to receive updates
                        <br>
                        <input type="checkbox" name="reason2" id="" value="Become member"> Become a member of the
                        coalition
                        <br>
                        <input type="checkbox" name="reason3" id="" value="Volunteer"> Volunteer <br>
                        <input type="checkbox" name="reason4" id="" value="Other"> Other(Please Specify)<br>
                        <textarea name="message" rows="5" cols="40"
                            placeholder="If selected Other please specify"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="memberButton m-0" id="submit-form" style="width:100%">Submit!</button>
                    </div>
                </form>
            </div>
            <div class="row" style="margin: 0 30%">
                <a href="/contact">Go Back</a>
            </div>
        </div>
    </div> -->
</div>
<% include partials/footer.ejs %>