<% include partials/header.ejs %>
<div class="container landing-background">
    <h1 class="propTitle">Proposals</h1>
    <button class="collapsible d-flex justify-content-between">
        Theme
        <span class="plus">
            <i class="fas fa-plus"></i>
        </span>
        <span class="minus">
            <i class="fas fa-minus"></i>
        </span>
    </button>
    <div class="content">
        <p></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates maiores facilis reprehenderit, placeat ut
            cumque quam aspernatur deleniti a quis dolorum impedit facere? Non vitae possimus sit dolorem hic, iusto
            necessitatibus accusamus eaque doloremque animi nobis alias rerum! Rerum modi repellendus facere aperiam
            voluptas, quia maxime non enim ullam reiciendis corporis quisquam praesentium velit. Assumenda aut velit
            tenetur quo consectetur saepe sed fugit, officia, magni molestiae cum, eaque perferendis fugiat eum rerum.
            Velit nulla asperiores, ea facere ipsam ullam, quos ipsum deserunt provident molestias cum debitis aliquam
            temporibus a magni corrupti! Quod laboriosam beatae, autem fuga ab quasi dicta repudiandae?</p>
    </div>
    <button class="collapsible d-flex justify-content-between">
        Theme
        <span class="plus">
            <i class="fas fa-plus"></i>
        </span>
        <span class="minus">
            <i class="fas fa-minus"></i>
        </span>
    </button>
    <div class="content">
        <p></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates maiores facilis reprehenderit, placeat ut
            cumque quam aspernatur deleniti a quis dolorum impedit facere? Non vitae possimus sit dolorem hic, iusto
            necessitatibus accusamus eaque doloremque animi nobis alias rerum! Rerum modi repellendus facere aperiam
            voluptas, quia maxime non enim ullam reiciendis corporis quisquam praesentium velit. Assumenda aut velit
            tenetur quo consectetur saepe sed fugit, officia, magni molestiae cum, eaque perferendis fugiat eum rerum.
            Velit nulla asperiores, ea facere ipsam ullam, quos ipsum deserunt provident molestias cum debitis aliquam
            temporibus a magni corrupti! Quod laboriosam beatae, autem fuga ab quasi dicta repudiandae?</p>
    </div>
    <button class="collapsible d-flex justify-content-between">
        Theme
        <span class="plus">
            <i class="fas fa-plus"></i>
        </span>
        <span class="minus">
            <i class="fas fa-minus"></i>
        </span>
    </button>
    <div class="content">
        <p></p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates maiores facilis reprehenderit, placeat ut
            cumque quam aspernatur deleniti a quis dolorum impedit facere? Non vitae possimus sit dolorem hic, iusto
            necessitatibus accusamus eaque doloremque animi nobis alias rerum! Rerum modi repellendus facere aperiam
            voluptas, quia maxime non enim ullam reiciendis corporis quisquam praesentium velit. Assumenda aut velit
            tenetur quo consectetur saepe sed fugit, officia, magni molestiae cum, eaque perferendis fugiat eum rerum.
            Velit nulla asperiores, ea facere ipsam ullam, quos ipsum deserunt provident molestias cum debitis aliquam
            temporibus a magni corrupti! Quod laboriosam beatae, autem fuga ab quasi dicta repudiandae?</p>
    </div>
</div>
<% include partials/footer.ejs %>