*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #fff;
    /* background: linear-gradient(90deg, rgba(72, 102, 61, 0.8) 23%, rgba(168, 168, 168, 0.8) 89%), url("https://images.unsplash.com/photo-1447927228194-acfa3d1b45c4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); */
    background-size: cover;
    font-family: 'Lato', sans-serif;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}



h2 {
    font-size: 40px;
    text-align: center;
    padding: 3% 0% 0% 0%;
}


.errorMessage {
    background: #FFF;
    padding: 10% 5%;
    margin: 30% auto;
    border-radius: 25px;
    font-size: 50px;
}

.navbar {
    background-color: rgba(255,255,255,1) !important;
    font-size: 20px;
    padding: 0px 0 0px 0 !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
}



.navbar-brand {
    max-height: 5.9%;
    max-width: 5.9%;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.btnNav {
    height: 100%;
}

.btnNav:hover {
    background: #235636;
    color: #fff !important;
}

.actualList {
    list-style-type: initial;

}

.landing-background {
    /* background: #eff5f7; */
    width: 100%;
    padding-bottom: 5rem;

}

.contactBackground {
    background: #eff5f7;

}

.jumbotron {
    color: #fff;
    background: url(images/protest.jpg);
    background-size: cover;
    text-align: center;
    font-size: 40px;
    padding: 16% 0px 16% 0px;
    width: 100%;
    margin: 0;
}

.title {
    font-size: 70px;
    font-weight: 300;
}

.body-text {
    font-size: 18px;
    padding: 0% 7% 0% 7%;
    margin: 0;
}

.contactButton {
    color: #fff !important;
    background: #36622b;
    border-radius: 15px;
    border-width: 2px;
    border-color: #294a21;
}

.new-background {
    background: rgba(112, 144, 120, 0.5);
    height: 115%;
    width: 100%;
    position: absolute;
}

.new-form-background {
    height: 30%;
    background: #fff;
    padding: 5% 2%;
    margin: 10% 0 10% 0;
    border-radius: 15px;
}

.content {
    font-size: 18px;
    padding: 3% 7% 0% 7%;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin: 0;

}

.collapsible {
    font-size: 18px;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    padding: 0;
    width: 70%;
    border: none;
    text-align: left;
    outline: none;
    margin: 0 7% 0 7%;
}

.active,
.collapsible:hover {
    background-color: #fff;
}

.propTitle {
    padding: 3%;
    margin-left: 7%;
}

table {
    border: 1px solid gray;
    width: inherit;
    margin: auto;
    font-size: 20px;
    border-spacing: 5px;
    background: #fff;
}

th {
    text-align: left;
    background-color: #d8eca1;
}

td,
th {
    line-height: 1.5;
    padding: 20px 5px 20px 5px;
}


tr:nth-child(even) {
    background-color: #e4f1bd;
}

.head {
    border: 1px solid gray;

}

.landing-background2 {
    background-color: #fbeec1;
}

.tableActive {
    background: #cce685;
    box-shadow: 2px 1px 2px gray;
    margin: 4px 10px 4px 10px;
}

.obj {
    width: 40%;
}

#regTitle {
    font-size: 2rem;
}

.tab {
    background: #36622b;
    opacity: 0.9;
    padding: 4% 2% 4% 0;
}

p {
    font-size: 18px;
}

.current {
    color: #fff !important;
}

ul {
    list-style-type: none;
}

.landingIcon {
    font-size: 100px !important;
    padding-right: 20px;
}

.parlImage {
    height: 100%;
    padding-top: 10%;
}

.newCheck {
    font-size: 1.1rem;
}

.event {
    border-bottom: 1px solid #ddd;
    width: 86%;
    margin: 2% 7% 2% 7%;
    float: center;
    border-radius: 5px;
}

.eventDate, .eventTime, .eventLocation {
    color: rgba(0, 0, 0, .65);
}

.eventDate {
    font-size: 20px;
    margin: 0;
}

.eventList {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    text-align: right;
}

.eventLocation {
    text-align: right;
}

#contactPhoto {
    height: 10%;
    width: 100%;
}

.contactHeader {
    background: linear-gradient(to right, rgba(69, 182, 73, 0.5), rgba(220, 227, 91, 0.8)), url(images/townhall.jpg);

    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #45B649, #DCE35B);
    /* Chrome 10-25, Safari 5.1-6 */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    height: 15%;
    padding: 8%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 50% 80%;
    text-align: center;
    z-index: -1;

}

#contactBox1 {
    padding-left: 10%;
    padding-right: 10%;
    margin: -6% 3% 2% 0%;
    border-radius: 6px;
}

#contactBox2 {
    padding-left: 10%;
    padding-right: 10%;
    margin: -6% 0% 2% 3%;
    border-radius: 6px;
}

.container-fluid {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}





.memberButton {
    background: #36622b;
    color: #fff;
    border: none;
    position: relative;
    height: 80px;
    font-size: 1.6em;
    width: 80%;
    cursor: pointer;
    transition: 800ms ease all;
    outline: none;
    margin-top: 1rem;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.memberButton:hover {
    background: #fff;
    color: #36622b;
}

.memberButton:before,
button:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 0;
    background: #36622b;
    transition: 400ms ease all;
}

.memberButton:after {
    right: inherit;
    top: inherit;
    left: 0;
    bottom: 0;
}

.memberButton:hover:before,
.memberButton:hover:after {
    width: 100%;
    transition: 800ms ease all;
}

.contactIcon {
    font-size: 80px !important;
    color: black;
}

.contactIcon2 {
    font-size: 80px !important;
    color: black;
}

.contactDescription {
    font-size: 19px;
    text-align: center;
}

h3 {
    font-weight: 700;
}

.viewMoreTitle {
    font-weight: 200;
    text-align: center;
}

.plus,
.minus {
    margin-left: 18px;
}

.contentText {
    text-align: center;
}


.navbar-nav {
    white-space: nowrap;
}

@media (min-width: 1200px) {
    .navbar-nav {
        font-size: 22px;
    }
}

@media (min-width: 994px) and (max-width: 1199px) {
    .navbar-nav {
        font-size: 17px;
    }
}

@media (max-width: 994px) {
    .navbar-nav {
        font-size: 15px;
    }
}

.divider {
    max-width: 3.25rem;
    border-width:0.2rem;
    border-color: #36622b;

}

.blogDivider {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(54, 99, 43, 0), rgba(54, 99, 43, 0.75), rgba(54, 99, 43, 0));
    max-width: 60%;
    border-color: rgb(54, 99, 43);

}

.blogText {
    font-size: 18px;
    margin: 0% 20% 0% 20%;
    background-color: #fff;

}

.blogBackground {
    background-color: #eee;
    max-height: 100%;
    padding: 1% 0% 0% 0%;
    /* position: absolute; */
}

.landing {
    z-index: -1;
    /* margin-top: -5.9%; */
}